.body {
  background-color: #373737;
  display: grid;
  grid-template-columns: max-content auto;
  grid-column-gap:30px;
  padding: 40px;
  justify-content: center;
}
.data {
  display: grid;
  grid-template-columns: auto;
  grid-row-gap: 15px;
  height: fit-content;
}
.textarea {
  font-size: 1.5em;
  width: max-content;
  resize: vertical;
  padding:15px;
  border-radius:15px;
  border:0;
  box-shadow:4px 4px 10px rgba(0,0,0,0.06);
  min-width: 400px;
  height:40px;
}
input::placeholder {
  font-size: 1em;
}
.form {
  display: grid;
  grid-template-columns: auto;
  grid-row-gap: 40px;
  justify-content: center;
  align-content: start;
}
.submit {
  color: #222222;
  font-size: 1.5em;
  text-align: center;
  width: max-content;
  resize: vertical;
  padding:15px;
  border-radius:15px;
  border:0;
  box-shadow:4px 4px 10px rgba(0,0,0,0.06);
  min-width: 400px;
  height:60px;
  background-color: rgb(59, 219, 15);
  cursor: pointer;
  justify-self: center;
}
.parameter {
  display: grid;
  grid-template-columns: auto;
  grid-row-gap: 10px;
}
.info {
  font-size: 1.5em;
  color: azure
}