.graph {
  width: 1000px;
  height: 700px;
  background-color: aliceblue;
  background-image: url(./images/graph.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.area {
    position: relative
}
.object {
  background-color: red;
  position: absolute;
  top: -34px;
  left: 19px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  z-index: 100;
}
.info {
    margin-top: 20px;
    font-size: 1.5em;
    width: max-content;
    resize: vertical;
    padding:15px;
    border-radius:15px;
    border:0;
    box-shadow:4px 4px 10px rgba(0,0,0,0.06);
    min-width: 400px;
    height:30px;
    background-color:azure;
  }